<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand grow" routerLink="/" fragment="top" >S&K</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-left">
      <!-- update for KL links -->
      <!-- <li><a class="grow" routerLink="/kl" fragment="info">RSVP</a></li> -->
      <li><a class="grow" routerLink="/" fragment="info">RSVP</a></li>
      <li><a class="grow" routerLink="/" fragment="info">Info</a></li>
      <li><a class="grow" routerLink="/" fragment="program">Program</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="grow" routerLink="/photos">Photos</a></li>
      <li><a class="grow" routerLink="/" fragment="travel">Travel</a></li>
      <li><a class="grow" routerLink="/faq">FAQ</a></li>
    </ul>
    </div>
  </div>
</nav>
<section class="parallax faq-main-landing" #faq>
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <div class="center-paralax-text">
                <p class="fade-in one"> FAQ</p>
              </div>
          </div>
        </div>
      </div>
</section>
<!-- Faq Info -->
<section class="faq-info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1  faq-info">
          <h2>Frequently Asked Questions</h2>
          <hr/>
          <h3>When should I arrive for the ceremony?</h3>
          <p>Please arrive no later than 5:45pm as the ceremony will start promptly at 6pm.</p>
          <p>There will be traffic on Friday afternoon, so check <a href="https://goo.gl/maps/acZHvSuZHj22" target="_blank">Google Maps</a> on event day to make sure you can get to the venue on time.</p>
          <h3>Is there a dress code?</h3>
          <p>Yes, formal wear.</p>
          <h3>Is parking available?</h3>
          <p>Plenty! The venue has a large parking lot (free) and drop off area if you take an Uber/Lyft.</p>
          <h3>Anything else we should know about the venue?</h3>
          <p>The ceremony and reception will be outdoors, so there is some uneven flooring. Also, bring a light jacket or wrap for the evening.</p>
          <h3>Can I bring my children?</h3>
          <p>Only children in the wedding party and immediate family will be in attendance.</p>
          <h3>What if I have dietary restrictions/allergies?</h3>
          <p>Please let us know in the notes section when you RSVP.</p>
          <h3>What time does the reception end?</h3>
          <p>The DJ will play the last song at 10:55pm. </p>
          <h3>Gifts/Registry?</h3>
          <p> We don’t have a registry. You being here on our special day is the best gift we could ask for. If you’d still like to get us something, cash gifts are customary in the Chinese/Vietnamese culture.</p>
          <h3>Who do I contact if I have any questions?</h3>
          <p>Email us at <a href="mailto:koayvo@gmail.com">koayvo@gmail.com</a> or text/Whatsapp Shan at 985-228-3956 before the wedding. On event day, you can reach out to our coordinators Alexis (512-934-4351) and Jordyn (858-568-1516).</p>
        </div>
      </div>
    </div>
  </section>
  <img style="width: 100%;" src="./assets/images/cactusupdated.png"> 
