.button {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }
}

.form-group {
  text-align: left;
}

.form-control {
  font-size: 17px;
}

label {
  font-family: 'Caslon';
}
