<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id"></h2>
    <h2 *ngIf="!contact._id"></h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12" id="contact-form">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="contact-name">Name</label>
          <input class="form-control" name="contact-name" [(ngModel)]="contact.name" placeholder="Your Name" required="true" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="contact-email">Email</label>
          <input class="form-control" name="contact-email" [(ngModel)]="contact.email" placeholder="Your Email"/>
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="contact-rsvp">Please join us for our wedding!</label>
        <select [(ngModel)]="contact.rsvp" class="form-control" name="contact-rsvp" aria-placeholder="Select One" required>
          <option [ngValue]="undefined" disabled selected>Select One</option>
          <option>Accept</option>
          <option>Decline</option>
        </select>
      </div>
      <div class="form-group" *ngIf="contact.rsvp == 'Accept' && contact.allowed_guests > 0">
        <label for="contact-guests">Number Attending? </label>
        <input class="form-control" name="contact-guests" [(ngModel)]="contact.guests" placeholder="" required/>
        <small id="guestHelp" class="form-text text-muted">We have reserved {{contact.allowed_guests}} guest(s) for you</small>
      </div>
      <div class="form-group" *ngIf="contact.rsvp == 'Accept' && contact.allowed_guests > 0">
        <label for="contact-guest_name">Guest Name(s)</label>
        <input class="form-control" name="contact-guest_name" [(ngModel)]="contact.guest_name" placeholder="Please enter full name"/>
        <small *ngIf="contact.allowed_guests > 1" id="guestHelp" class="form-text text-muted">Please seperate names with commas</small>
      </div>
      <div class="form-group" *ngIf="contact.rsvp == 'Accept'">
        <label for="contact-dietary">Dietary Restrictions?</label>
        <select [(ngModel)]="contact.dietary" class="form-control" name="contact-dietary" aria-placeholder="Select One" required>
          <option [ngValue]="undefined" disabled selected>Select One</option>
          <option>No</option>
          <option>Yes</option>
        </select>
        <small id="dietaryHelp" class="form-text text-muted">If yes, please comment below.</small>
      </div>
      <div class="form-group" *ngIf="contact.rsvp == 'Accept' && contact.kl == 'FALSE'">
        <label for="contact-dietary">Will you be attending the Saturday cookout?</label>
        <select [(ngModel)]="contact.cookout" class="form-control" name="contact-cookout" aria-placeholder="Select One" required>
          <option [ngValue]="undefined" disabled selected>Select One</option>
          <option>No</option>
          <option>Yes</option>
        </select>
      </div>
      <div class="form-group" *ngIf="contact.rsvp == 'Accept'">
        <label for="contact-comment">Comments</label>
        <textarea type="text" rows="2" maxlength="200" class="form-control" name="contact-comment" [(ngModel)]="contact.comment"></textarea>
      </div>
    <button class="button" *ngIf="!contact._id" (click)="createContact(contact)">Submit</button>
    <button class="button" *ngIf="contact._id" (click)="updateContact(contact, contact._id)">Submit</button>
    <!-- <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button> -->
  </form>
</div>
