<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow" (click)='scrollToElement(top)' >S&K</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="grow" data-toggle="modal" data-target="#rsvpModal">RSVP</a></li>
        <li><a data-toggle="collapse" data-target="#navbar" class="grow" (click)='scrollToElement(info)'>Info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="grow" routerLink="/photos-kl">Photos</a></li>
        <li><a data-toggle="collapse" data-target="#navbar" class="grow" (click)='scrollToElement(travel)'>Travel</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Main Landing-->
<section class="parallax main-landing" #top>
  <div class="container">
    <div class="main-landing-content row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="fade-in one"> shan <br/> & <br/> kenny</h1>
        <h3 class="fade-in two">7. 28. 19</h3>
        <div class="fade-in two">
            <button class="rsvp-button" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home Info -->
<section class="home-info-section" id="info" #info>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-info">
        <p class="home-info-header">Please join us for our wedding dinner</p>
        <hr/>
        <h3 style="padding-bottom: 10px;">Sunday, July 28, 2019</h3>
        <p>
          seven o'clock in the evening <br/> <a href="https://www.wildflower.org/visit">Concorde Hotel, Xin Cuisine</a> <br/> 2 JALAN SULTAN ISMAIL<br/> 50250 KUALA LUMPUR, MALAYSIA
        </p>
        <p style="padding-top: 28px;">- Formal Attire -</p>
        <button class="rsvp-button invert" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
        <div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="RSVP Modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Please RSVP By May 1, 2019</h4>
              </div>
              <div class="modal-body">
                <contact-list-kl></contact-list-kl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax Sitting Section -->
<section class="parallax sitting-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="center-paralax-text">
            <p class="fade-in one"> Travel to KL</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Travel Section -->
<section class="home-travel-section" id="travel" #travel>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-travel">
        <h2>Travel</h2>
        <hr/>
        <p style="padding-bottom: 30px;">
          Our wedding venue is located <a href="https://goo.gl/maps/bRYfhiR5MGS2">here</a>, in the heart of Kuala Lumpur.
        </p>
        <h3 style="padding-bottom: 24px;">- Stay -</h3>
        <p>There are lots of hotels in the area to suit your needs.</p>
        <p>We suggest the Concorde Hotel for convenience and special discounted rates.</p>
        <p>Airbnb is also a wonderful option for large groups. <br/>Options range from private rooms to an entire home.</p>
        <h3>- Getting There -</h3>
        <p>Hotel parking is available for RM10 (flat rate). <br/>
          Local taxis, GRAB, and public transport are also options. <br/> Closest monorail stop: Bukit Nanas (5 min walk). <br/>Closest LRT stop: Dang Wangi (9 minute walk).</p>
        <br/>
        <strong><p>Need help or recommendations? <a href="mailto:koayvo@gmail.com">Email us.</a></p></strong>
      </div>
    </div>
  </div>
</section>

