@font-face {
  font-family: 'Caslon';
  src: url('../../assets/fonts/casloncp-webfont.woff2') format('woff2'), url('../../assets/fonts/casloncp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futurist';
  src: url('../../assets/fonts/Futurist.woff') format('woff'), url('../../assets/fonts/Futurist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Streetlight';
  src: url('../../assets/fonts/streetlight.woff2') format('woff2'), url('../../assets/fonts/streetlight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Modern-Regular';
  src: url('../../assets/fonts/Modern-Regular.woff2') format('woff2'), url('../../assets/fonts/Modern-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Melinda';
  src: url('../../assets/fonts/Melinda-script.woff2') format('woff2'), url('../../assets/fonts/Melinda-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'Caslon';
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Caslon';
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
	line-height: 1.2;
	letter-spacing: 1px;
	font-size: 22px;
  font-family: 'Modern-Regular';
  text-transform: lowercase;
}

a {
  color: inherit;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

/*Navigation Bar*/
.grow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);

  @media screen and (max-width: 768px){
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.navbar-default {
	font-family: 'Futurist';
	border-color: rgba(34,34,34,.05);
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

/* Add styles to scrolled navbar*/
.scrolled {
  background-color: #fff !important;
  transition: background-color 500ms linear;
  border-bottom: 1px solid rgba(0,0,0,.1);
  
  a {
    color: black !important;
    transition: background-color 500ms;
  }
}

/*Center Navbar Brand*/
.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -47px !important;
  display: block;
  color: #fff;
  
  @media screen and (max-width: 767px) {
    color: black !important;
  }

}

.navbar-right > li:last-child {
	padding-right: 10px;
}

.navbar-header .navbar-brand {
  color: #fff;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: black;

  @media(max-width:768px) {
    text-align: center;
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;

  @media(max-width:768px) {
    text-decoration: underline;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
}

@media(min-width:768px) {
  .navbar-default {
		border: none;
    background-color: transparent;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #fff;
  }
}

.button {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
  

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    cursor: pointer;

  }
}

.parallax {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
  flex: 1 0 auto;

  
}

.main-landing {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('../../assets/images/shan-kenny-walking.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: translateZ(3px) scale(1);

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background: url("../../assets/images/shan-kenny-mobile.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    &:before {
      content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000000,#000000);
    opacity: .3; 
    }
  }

  .main-landing-content {
    position: relative;
    text-align: left;
    padding-left: 70%;
  
    h1 {
      font-family: 'Caslon';
      font-size: 8rem;
      font-weight: 400;
      color: #fff;
      margin-top: 200px;
      margin-bottom: 0px;
    }
  
    h3 {
      color: #fff;
      font-weight: 400;
      font-size: 2.5rem;
      letter-spacing: 3px;
      margin-top: 0px;
    }
    
    @media screen and (max-width: 768px) {
      padding-left: 0px;
      text-align: center;

      h1 {
        font-size: 8rem;
        margin-top: 500px;
        line-height: 1;
      }
    }
    @media screen and (max-width: 568px) {
      padding-left: 0px;
      text-align: center;

      h1 {
        font-size: 7rem;
        margin-top: 350px;
        line-height: 1;
      }
    }
    @media screen and (max-width: 328px) {
      padding-left: 0px;
      text-align: center;

      h1 {
        font-size: 6rem;
        margin-top: 280px;
        line-height: 1;
      }
    }
  }
}

.rsvp-button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: 'Caslon';
  padding: 3px 45px 0px 45px;
  font-size: 18px;

  &:hover, &:focus, &:active {
    background: white;
    color: black;
    border: none;
  }

  &.invert {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover, &:focus, &:active {
      background: black;
      color: white;
      border: 1px solid black;
    }
  }
}

.sitting-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url('../../assets/images/shan-kenny-sitting.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: translateZ(3px) scale(1.08);

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background: url("../../assets/images/shan-kenny-sitting.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    &:before {
      content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000000,#000000);
    opacity: .3; 
    }
  }
}

.hands-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url('../../assets/images/shan-kenny-photo-hands.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: translateZ(3px) scale(1.08);

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background: url("../../assets/images/shan-kenny-photo-hands.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    &:before {
      content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000000,#000000);
    opacity: .3; 
    }
  }
}

.center-paralax-text {
  padding-top: 50%;

  p {
    color: white;
    font-size: 70px;
    font-weight: 300px;
    line-height: 1em;
    text-transform: uppercase;
 
    @media screen and (max-width: 768px){
      font-size: 55px;
    }
  }

}

.home-info, .home-travel, .home-city {
	padding-top: 90px;
	padding-bottom: 140px;
}

.home-info-header {
  font-family: 'Modern-Regular';
  font-size: 30px;
  text-transform: none;
}

.home-program {
  padding-top: 90px;
  padding-bottom: 130px;

  p {
    margin: 0px;
  }

  .program-left {
    text-align: right
  }
  .program-right {
    text-align: left
  }
}

.home-travel-section {
  h3 {
    font-family: 'Futurist';
    font-size: 22px;
    padding-bottom: 24px;
    letter-spacing: -1px;
    font-weight: 900;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      letter-spacing: -3px;
    }
  }
  p {
    text-transform: none;
    padding-bottom: 30px;
  }
}

.img-container {
  position: relative;
  padding: 0px;

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
  }
  .text-box {
    position: relative;
    top: 30%;
    h2 {
      color: #fff;
      margin: 0px;
    }
    p {
      color: #fff;
    }
    .button {
      border-radius: 0;
      background-color: transparent;
      border: 1px #fff solid;
      font-family: 'Futurist';
      text-transform: uppercase;
      letter-spacing: -1px;
      color: #fff;

      &:hover {
        color: #fff;
        background-color: black;
        text-decoration: none;
      }
    }
  }
}

.color-square-1 {
  background-color: rgba(188,163,178, 0.4);
}

.color-square-2 {
  background-color: rgba(139, 135, 130, 0.4);
}


.text-container {
  padding: 10% 0 0 0;

  .text-box {
    position: relative;
    padding: 15px;

    h2 {
      color: #000;
      margin: 0px;
      padding-bottom: 20px;
    }
    p {
      color: #000;
    }

    .button {
      border-radius: 0;
      background-color: transparent;
      border: 1px black solid;
      font-family: 'Futurist';
      text-transform: uppercase;
      letter-spacing: -1px;

      &:hover {
        color: #fff;
        background-color: black;
        text-decoration: none;
      }
    }
  }
}

.travel-header {
  margin: 25px 0;
}

.search-button {
  border-radius: 0;
  background-color: transparent;
  border: 1px black solid;
  font-family: 'Futurist';
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 3px 8px;

  &:hover {
    color: #fff;
    background-color: black;
    text-decoration: none;
  }
}



.home-city-section {
  img {
    width: 100%;
  }
  li {
    list-style: none;
    line-height: 2;
  }
}

.modal.fade .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
     -o-transform: scale(0.1);
      transform: scale(0.1);
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
}

.modal.fade.in .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
      transform: scale(1);
  -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
     -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
}

.modal-content {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
      box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
}

/* DIALOG HEADER */
.modal-header {
  min-height: 16px;
  padding: 24px;
  border-bottom: none;
}

.modal-title {
  font-weight: 500;
  font-size: 22px;
  font-family: 'Caslon';
}

.modal-body {
  font-family: 'Modern-Regular';
  font-size: 18px;
}

.hotel-modal-text {
  text-align: left;
  padding: 7px 30px 30px 30px;
  p {
    padding: 0px;
    font-size: 20px;
  }
}