<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand grow" routerLink="/" fragment="top" >S&K</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-left">
      <li><a class="grow" routerLink="/" fragment="info">RSVP</a></li>
      <li><a class="grow" routerLink="/" fragment="info">Info</a></li>
      <li><a class="grow" routerLink="/" fragment="program">Program</a></li>
      <li><a class="grow" routerLink="/gifts">Gifts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="grow" routerLink="/photos">Photos</a></li>
      <li><a class="grow" routerLink="/" fragment="travel">Travel</a></li>
      <li><a class="grow" routerLink="/todo">To-do</a></li>
      <li><a class="grow" routerLink="/faq">FAQ</a></li>
    </ul>
    </div>
  </div>
</nav>
<section class="parallax faq-main-landing" #faq>
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <div class="center-paralax-text">
                <p class="fade-in one"> Gifts</p>
              </div>
          </div>
        </div>
      </div>
</section>
<!-- Faq Info -->
<section class="faq-info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 faq-info">
          <p>We don’t have a registry as we've got all the blenders and bedding we need!
            Instead, you being here on our special day is already a wonderful gift. If you’d still like to get us something, cash gifts are customary in the Chinese/Vietnamese culture.
            You can also help us create memorable experiences as we head to Spain for our honeymoon, through our <a href="https://www.zola.com/registry/kennyandshan" target="_blank">Honeymoon Fund.</a> <br/> <br/>Thank you and much love! - Shan & Kenny</p>
        </div>
      </div>
    </div>
  </section>
  <img style="width: 100%;" src="./assets/images/cactusupdated.png">
