<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top scrolled">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow" href="/" >S&K</a>
    </div>
  </div>
</nav>
<div class="container photo-container">
  <div class="row">
    <div class="col-md-4 photo fade-in one">
      <img src="../assets/images/shan-kenny-photo-1.jpg">
    </div>
    <div class="col-md-4 photo fade-in two">
        <img src="../assets/images/shan-kenny-photo-2.jpg">
    </div>
    <div class="col-md-4 photo fade-in three">
        <img src="../assets/images/shan-kenny-photo-4.JPG">
    </div>
    <div class="col-md-4 photo fade-in four">
        <img src="../assets/images/shan-kenny-photo-6.jpg">
    </div>
    <div class="col-md-4 photo fade-in five">
        <img src="../assets/images/shan-kenny-photo-7.jpg">
    </div>
    <div class="col-md-4 photo fade-in six">
        <img src="../assets/images/shan-kenny-photo-8.jpg">
    </div>
    <div class="col-md-4 photo fade-in seven">
        <img src="../assets/images/shan-kenny-photo-5.jpg">
    </div>
    <div class="col-md-4 photo fade-in eight">
        <img src="../assets/images/shan-kenny-photo-3.JPG">
    </div>
  </div>
</div>