<div style="height: 50px; background-color: lightgrey;"></div>

<div class="container photo-container">
      <!-- <div class="col-md-6 photo fade-in one" *ngFor="let image of albums; let i=index">
          <img class="img-frame" [src]="image.src" (click)="open(i)">
      </div> -->
    <div class="photo">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-9.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-5.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-12.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-6.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-2.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-11.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-13.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-7.jpg">
        <img class="fade-in" src="../assets/images/shan-kenny-photo-1.jpg">
    </div>
</div>