<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand grow" routerLink="/" fragment="top" >S&K</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
            <!-- update for KL links -->
            <!-- <li><a class="grow" routerLink="/kl" fragment="info">RSVP</a></li> -->

            <li><a class="grow" routerLink="/" fragment="info">RSVP</a></li>
            <li><a class="grow" routerLink="/" fragment="info">Info</a></li>
            <li><a class="grow" routerLink="/" fragment="program">Program</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="grow" routerLink="/photos">Photos</a></li>
            <li><a class="grow" routerLink="/" fragment="travel">Travel</a></li>
            <li><a class="grow" routerLink="/faq">FAQ</a></li>
        </ul>
        </div>
    </div>
</nav>
<section class="parallax photo-landing">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <div class="center-paralax-text">
                <p class="fade-in one"> Photos</p>
              </div>
          </div>
        </div>
      </div>
</section>
<div class="container photo-container">
      <!-- <div class="col-md-6 photo fade-in one" *ngFor="let image of albums; let i=index">
          <img class="img-frame" [src]="image.src" (click)="open(i)">
      </div> -->
      <div class="photo">
          <img class="fade-in one" src="../assets/images/shan-kenny-photo-7.jpg">          
          <img class="fade-in one" src="../assets/images/shan-kenny-16.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-15.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-21.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-23.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-18.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-19.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-photo-13.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-photo-5.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-20.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-17.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-24.jpg">          
          <img class="fade-in one" src="../assets/images/shan-kenny-25.jpg">
          <img class="fade-in one" src="../assets/images/shan-kenny-26.jpg">
    </div>
</div>