<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow" routerLink="/kl" fragment="top" >S&K</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
          <li><a class="grow" routerLink="/kl" fragment="info">RSVP</a></li>
          <li><a class="grow" routerLink="/kl" fragment="info">Info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="grow" routerLink="/photos-kl">Photos</a></li>
          <li><a class="grow" routerLink="/kl" fragment="travel">Travel</a></li>
      </ul>
      </div>
  </div>
</nav>
<section class="parallax photo-landing">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="center-paralax-text">
              <p class="fade-in one"> Photos</p>
            </div>
        </div>
      </div>
    </div>
</section>
<div class="container photo-container">
    <div class="photo">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-11.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-12.jpg">
      <img class="fade-in one" style="padding-top:9px;" src="../assets/images/shan-kenny-photo-1.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-7.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-9.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-6.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-walking.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-14.jpg">
      <img class="fade-in one" src="../assets/images/shan-kenny-photo-13.jpg">
  </div>
</div>
