<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow" href="#top">S&K</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="grow" href="/">Home</a></li>
        <li><a class="grow" href="#info">Info</a></li>
        <li><a class="grow" href="#events">Events</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="grow" href="#info">RSVP</a></li>
        <li><a class="grow" href="photos.html">Photos</a></li>
        <li><a class="grow" href="#">Travel</a></li>

      </ul>

    </div>
  </div>
</nav>
<!-- Main Landing-->
<section class="parallax main-landing">
  <div class="main-landing-content">
    <h1 class="fade-in one"> shan <br/> & <br/> kenny</h1>
    <h3 class="fade-in two">10. 18. 19</h3>
  </div>
</section>
<!-- Home Info -->
<section class="home-info-section" id="info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-info">
        <h2>Please join us for our wedding celebration</h2>
        <hr/>
        <h3>10. 18. 19</h3>
        <p>
          <a href="https://www.wildflower.org/visit">Lady Bird Johnson Wildflower Center</a> <br/> 4801 La Crosse Avenue<br/> Austin, Texas
        </p>
        <button class="rsvp-button btn-primary" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
        <!-- RSVP Modal -->
        <div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="RSVP Modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">RSVP here</h4>
              </div>
              <div class="modal-body">
                <form id="rsvp-form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Coming?
                    </label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Events Section -->
<section class="home-events-section" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-events">
        <h2>Events</h2>
        <hr/>
        <div class="row">
          <div class="col-md-4 col-lg-6 col-sm-12 text-center">
            <h3>Wedding Ceremony</h3>
            <br/>
            <div>
              6:00pm
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-sm-12 text-center">
            <h3>Cocktail Hour</h3>
            <br/>
            <div>
              6:30pm
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-sm-12 text-center">
            <h3>Reception</h3>
            <br/>
            <div>
              7:30pm
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Small Parallax Sitting Section -->
<section class="parallax-small sitting-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
<!-- Travel Section -->
<section class="home-travel-section" id="travel">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-travel">
        <h2>Travel</h2>
        <hr/>
        <p>
          <a href="https://www.wildflower.org/visit"><h3>South Congress Hotel</h3></a>
          Ask about our group rate. <br />
          <br/> 2222 South Congress Ave
          <br/> Austin, Texas 78704
        </p>
      </div>
    </div>
  </div>
</section>
<!-- City Guide Section -->
<section class="home-city-section" id="city">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-city">
        <h2>City Guide</h2>
        <hr/>
        <div class="row">
          <div class="col-md-6 col-sm-12 text-center">
            <h3>Our favorite things to do!</h3>
            <br/>
            <div>
              <ul>
                <li>Hang out at Barton Springs</li>
                <li>Get bbq at Terry Blacks!</li>
                <li>Walk along the boardwalk</li>
                <li>Check out happy hours on west 6th</li>
                <li>Grab a breakfast taco at Papalotte!</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <img src="../assets/images/google-map-placeholder.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Shan & Kenny 2019</p>
  </div>
</footer>
<div class="container">
  <contact-list></contact-list>
</div>