<form *ngIf="message && message.city" id="message-form" class="message-form" autocomplete="off">
  <div class="form-group">
      <div class="form-group">
        <label for="contact-name">Name(s)</label>
        <input class="form-control" name="contact-name" [(ngModel)]="message.name" required="true" />
      </div>
      <div class="form-group">
        <label for="contact-comment">Message</label>
        <textarea type="text" rows="8" class="form-control" name="message-message" [(ngModel)]="message.message"></textarea>
      </div>
    </div>
  <button class="button" (click)="createMessage(message)">Submit</button>
</form>
