@font-face {
    font-family: 'Caslon';
    src: url('../../assets/fonts/casloncp-webfont.woff2') format('woff2'), url('../../assets/fonts/casloncp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futurist';
    src: url('../../assets/fonts/Futurist.woff') format('woff'), url('../../assets/fonts/Futurist.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Streetlight';
    src: url('../../assets/fonts/streetlight.woff2') format('woff2'), url('../../assets/fonts/streetlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Modern-Regular';
    src: url('../../assets/fonts/Modern-Regular.woff2') format('woff2'), url('../../assets/fonts/Modern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Melinda';
    src: url('../../assets/fonts/Melinda-script.woff2') format('woff2'), url('../../assets/fonts/Melinda-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.guestbook-container {
    padding-top: 75px;
    position: relative;
    
    .form-group {
        h2 {
            font-family: 'Modern-Regular';
            text-align: left;
            margin-top: 0;
            font-size: 30px;
        }
    }

    h2 {
        text-align: left;
        margin-bottom: 2rem;
        font-family: 'Modern-Regular';
        font-size: 70px;
    }

    ul {
        border-top: 2px solid lightgray;
        margin: 50px 0 15px;
        padding: 0;
        height: 350px;
        overflow: scroll;
        background-color: #fff;
    }
    li {
        list-style: none;
        font-size: 16px;
        text-transform: capitalize;
        padding: 20px 5px;
        border-bottom: 1px solid lightgray;
        
        .message {
            font-family: 'Modern-Regular';
        }

        .city, .name {
            font-family: 'Caslon';
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(168, 74, 59, 0.6);
        }
    }
}

agm-map {
    height: 535px;
}

.button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #152c27;
      color: white;
      border: 1px solid #152c27;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
}

.gm-style-iw {
    padding: 12px !important;
}

.message-name {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Caslon';
}

.message-text {
    font-size: 16px;
    font-family: 'Modern-Regular';
}

.city-helper-text {
    position: absolute;
    top: 165px;
    font-family: 'Modern-Regular';

}
