<div class="container guestbook-container">
  <h2>
    Shan & Kenny's Guestbook
  </h2>
  <div class="row">
      <div class="map col-md-8">
          <agm-map [zoom]="3.5" [latitude]="latitude" [longitude]="longitude">
            <agm-marker 
              *ngFor="let message of messages; let i = index"
              [latitude]="message.lat"
              [longitude]="message.long"
              (markerClick)="clickedMarker(infoWindow)"
            >
              <agm-info-window
                #infoWindow>
                <h3>{{message.name}}</h3>
                <strong>{{message.message}}</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
          <!-- <button class="button" (click)="fullMap(message)">Full Map</button> -->
        </div>
    <div class="col-md-4">
      <div class="form-group">
        <h2>Please leave us a message:</h2>
        <label>What city are you from?</label>
        <input style="width: 300px;" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
      <!-- <h5>City: {{city}}</h5> -->
      <button class="button" (click)="createNewMessage()">Create New Message</button>
      <app-guestbook-details
        [message]="selectedMessage"
        [createHandlerMessage]="addMessage">
      </app-guestbook-details>
      <ul>
        <li *ngFor="let message of messages;" (click)="listClick(message)">
          <span class="message">{{message.message}} </span><br/>
          <span class="city">{{message.city}}</span> <br/>
          <span class="name">{{message.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
