<div class="container guestbook-container">
  <h2>
    Shan & Kenny's Guestbook
  </h2>
  <div class="row">
      <div class="map col-md-8">
          <agm-map [zoom]="3.5" [latitude]="latitude" [longitude]="longitude">
            <agm-marker 
              *ngFor="let message of messages; let i = index"
              [latitude]="message.lat"
              [longitude]="message.long"
              [iconUrl]="{url: '../assets/images/love.png',         scaledSize: {
                width: 23,
                height: 25
            }}"
              (markerClick)="clickedMarker(infoWindow)"
            >
              <agm-info-window
                #infoWindow>
                <p class="message-name">{{message.name}}</p>
                <p class="message-text">{{message.message}}</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
          <!-- <button class="button" (click)="fullMap(message)">Full Map</button> -->
        </div>
    <div class="col-md-4">
      <div class="form-group">
        <h2>Please leave us a message:</h2>
        <label>Search for your city!</label>
        <input style="width: 300px;" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
      <!-- <h5>City: {{city}}</h5> -->
      <button class="button messageButton" #messagebutton (click)="createNewMessage()">Write us something</button> 
      <p class="city-helper-text" *ngIf="selectedCity">Search and click on a city first!</p>
      <app-guestbook-details
        [message]="selectedMessage"
        [createHandlerMessage]="addMessage">
      </app-guestbook-details>
      <ul>
        <li *ngFor="let message of messages;" (click)="listClick(message)">
          <span class="message">{{message.message}} </span><br/>
          <span class="city">{{message.city}}</span> <br/>
          <span class="name">{{message.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
