<div class="row">
  <h2 style="margin-top: 0px;" *ngIf="rsvp_sent == 1" class="rsvp-thanks fade-in one">Thank you for responding!</h2>
  <div class="col-md-8 col-md-offset-2">
      <input class="search-box" [(ngModel)]="searchText" placeholder="Search for your name" (click)="hideList()" (keydown.enter)="unHideList()">
      <input type="submit" class="button" value="Search" (click)="unHideList()">
    <div *ngIf="fullList == 1 && searchText !== undefined">
      <ul class="list-group" *ngIf="searchText.length > 2">
        <li class="list-group-item" 
          *ngFor="let contact of contacts | grdFilter: {name: searchText, email: searchText} ; let i=index;"
          (click)="selectContact(contact)"
          [class.active]="contact === selectedContact" >
            <span>{{contact.name}}</span>
        </li >
      </ul>
      <button class="button" (click)="createNewContact()">Fill Out RSVP Form</button>
    </div>
  </div>
  <div class="row" *ngIf="fullList == 1">
    <div class="col-md-8 col-md-offset-2">
      <contact-details
        [contact]="selectedContact"
        [createHandler]="addContact"
        [updateHandler]="updateContact"
        [deleteHandler]="deleteContact">
      </contact-details>
    </div>
  </div>
</div>