@font-face {
  font-family: 'Caslon';
  src: url('../../assets/fonts/casloncp-webfont.woff2') format('woff2'), url('../../assets/fonts/casloncp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futurist';
  src: url('../../assets/fonts/Futurist.woff') format('woff'), url('../../assets/fonts/Futurist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Streetlight';
  src: url('../../assets/fonts/streetlight.woff2') format('woff2'), url('../../assets/fonts/streetlight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Modern-Regular';
  src: url('../../assets/fonts/Modern-Regular.woff2') format('woff2'), url('../../assets/fonts/Modern-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'Modern-Regular';
}

h3 {
  font-family: 'Caslon';
}

p {
	line-height: 1.4;
	letter-spacing: 1px;
	font-size: 17px;
  font-family: 'Caslon';
}

a {
  color: inherit;
}

.button {
  background-color: #315684;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;

  &:hover {
    background-color: #fff;
    color: #315684;
    border: 1px solid #315684;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }
}

.parallax {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex: 1 0 auto;
}

.parallax-small {
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	flex: 1 0 auto;
}

.main-landing {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('../../assets/images/shan-kenny-walking.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateZ(3px) scale(1);
}

.main-landing-content {
	position: relative;
	text-align: left;
	padding-left: 70%;
}

.main-landing h1 {
	font-family: 'Caslon';
	font-size: 8rem;
	font-weight: 400;
	color: #fff;
	margin-top: 200px;
  margin-bottom: 0px;
}

.main-landing h3 {
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-top: 0px;
}

.rsvp-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: 40px;
  font-family: 'Caslon';
  padding-top: 3px;

  &:hover, &:focus, &:active {
    background: white;
    color: black;
    border: none;
  }
}

.sitting-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url('../../assets/images/shan-kenny-sitting.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateZ(3px) scale(1.08);
}

.hands-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url('../../assets/images/shan-kenny-photo-hands.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateZ(3px) scale(1.08);
}

.home-program {
  p {
    margin: 0px;
  }
}

.program-left {
  text-align: right
}
.program-right {
  text-align: left
}


.center-paralax-text {
  padding-top: 50%;

  p {
    color: white;
    font-size: 70px;
    font-weight: 300px;
    line-height: 1em;
    text-transform: uppercase;
  }
}

.home-info, .home-travel, .home-program, .home-city {
	padding-top: 100px;
	padding-bottom: 100px;
}

// .home-city-section, .home-program-section {
//   background-color: whitesmoke;
// }

.home-city img {
  width: 100%;
}

.home-city li {
  list-style: none;
  line-height: 2;
}

.footer {
  border-top: 1px solid lightgrey;
}

.footer p {
  font-size: 12px;
  font-family: 'Futurist';
  text-transform: uppercase;
  margin-top: 10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}