<!-- US Homepage -->

<!-- NAVIGATION -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow" (click)='scrollToElement(top)' >S&K</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="grow" (click)='scrollToElement(info)' data-toggle="modal" data-target="#rsvpModal">RSVP</a></li>
        <li><a data-toggle="collapse" data-target="#navbar" class="grow" (click)='scrollToElement(info)'>Info</a></li>
        <li><a data-toggle="collapse" data-target="#navbar" class="grow" (click)='scrollToElement(program)'>Program</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="grow" routerLink="/photos">Photos</a></li>
        <li><a data-toggle="collapse" data-target="#navbar" class="grow" (click)='scrollToElement(travel)'>Travel</a></li>
        <li><a class="grow" routerLink="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Main Landing-->
<section class="small-parallax main-landing" #top>
  <div class="container">
    <div class="main-landing-content row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="fade-in one"> shan <span style="font-size: 6rem;">&</span> kenny</h1>
        <h3 class="fade-in two">10. 18. 19</h3>
        <div class="fade-in two">
            <button class="rsvp-button" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Home Info -->
<section class="home-info-section" id="info" #info>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-info">
        <p class="home-info-header">Please join us for our wedding celebration</p>
        <hr/>
        <h3 style="padding-bottom: 10px;">Friday, October 18, 2019</h3>
        <p>
          six o'clock in the evening <br/> <a href="https://www.wildflower.org/visit" target="_blank">Lady Bird Johnson Wildflower Center</a> <br/> 4801 La Crosse Avenue<br/> Austin, Texas
        </p>
        <p style="padding-top: 28px;">- Formal Attire -</p>
        <button class="rsvp-button invert" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
        <div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="RSVP Modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Please RSVP By April 30, 2019</h4>
              </div>
              <div class="modal-body">
                <contact-list></contact-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax Middle Section -->
<section class="parallax middle-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="center-paralax-text">
            <p class="fade-in one"> Wedding Day</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Program Section -->
<section class="home-program-section" id="program" #program>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center home-program">
        <h2>Program</h2>
        <hr/>
        <div class="row">
          <div class="program-left col-sm-6 col-xs-5">
            <p>
              6:00pm 
            </p>
            <p>
              6:30pm 
            </p>
            <p>
              7:30pm
            </p>
            <p>
              9:00pm
            </p>
            <p>
              10:00pm
            </p>
            <p>
              10:55pm
            </p>
          </div>
          <div class="program-right col-sm-6 col-xs-7">
            <p>
                ceremony
            </p>
            <p>
              cocktail hour
            </p>
            <p>
              dinner 
            </p>
            <p>
              dancing 
            </p>
            <p>
              late night eats
            </p>
            <p>
              last dance
            </p>
          </div>
        </div>
        <p style="padding-top: 30px;">- Please arrive before 5:45pm -</p>
      </div>
    </div>
  </div>
</section>
<!-- Parallax Walking Section -->
<section class="parallax walking-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="center-paralax-text">
            <p class="fade-in one"> Travel to Austin</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Travel Section -->
<section class="home-travel-section" id="travel" #travel>
  <div class="col-lg-12 text-center home-travel">
    <h2>Stay</h2>
    <hr/>
    <p style="padding-bottom: 30px;">
      Our wedding venue is located <a href="https://goo.gl/maps/bRYfhiR5MGS2" target="_blank">here</a>, about 17 mins from Downtown Austin.
    </p>
    <div class="row color-square-1">
      <div class="col-lg-6 col-md-6 col-sm-6  text-container">
        <div class="text-box">
            <h2>Hotel</h2>
            <p>We suggest staying in Downtown Austin or South Congress<br/>
            Stay tuned for more info on special rates.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 img-container">
        <!-- add target and link later -->
        <a ><div class="img-overlay"></div></a>
        
        <img style="width: 100%;" src="./assets/images/hotel.jpg">
      </div>
    </div>
    <div class="row color-square-2">
      <div class="col-lg-6 col-md-6 col-sm-6 img-container" >
        <a href="https://www.airbnb.com/" target="_blank"><div class="img-overlay"></div></a>
        
        <img style="width: 100%;" src="./assets/images/airbnb.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-container">
        <div class="text-box">
          <h2>Airbnb</h2>
          <p>Great for large groups or those  who want a more unique <br/>Austin experience. We suggest Downtown, South Congress, South Lamar, East Austin, and Zilker/Barton Springs.</p>
          <a href="https://www.airbnb.com/" class="button" target="_blank">Search </a> 
        </div>          
      </div>
    </div>
    <br/>
    <h2 class="travel-header" style="margin-top: 30px;">Airport</h2>
    <p>Austin-Bergstrom International Airport <br/>
      16 miles from LBJ Wildflower Center
      <br/> 
    </p>
    <a href="https://goo.gl/maps/EvCG9Rz4WFP2" class="search-button">Get Directions </a> 
    <h2 class="travel-header" style="margin-top: 50px;">Getting Around</h2>
    <p>Uber and Lyft are available.<br/>
      City bikes and Lime or Bird scooters are fun ways to get around Downtown.
    <br/>For those staying longer than a few days or looking to explore more of Austin, we suggest <a href="https://www.expedia.com/Car-Rentals-In-Austin.d178234.Car-Rental-Guide" target="_blank">renting a car.</a></p>
    <p style="padding:0;"><strong>Need recommendations?</strong> </p>
    <a class="search-button" href="mailto:koayvo@gmail.com" target="_blank">Email us</a>
  </div>
</section>
<img style="width: 100%;" src="./assets/images/cactusupdated.png"> 

<!-- City Guide Section -->
<!-- <section class="home-city-section" id="city">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center home-city">
        <h2>City Guide</h2>
        <hr/>
        <div class="row">
          <div class="col-md-6 col-sm-12 text-center">
            <h3>Our favorite things to do!</h3>
            <br/>
            <div>
              <ul>
                <li>Hang out at Barton Springs</li>
                <li>Get bbq at Terry Blacks!</li>
                <li>Walk along the boardwalk</li>
                <li>Check out happy hours on west 6th</li>
                <li>Grab a breakfast taco at Papalotte!</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <img src="../assets/images/google-map-placeholder.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
